.read-me-link p {
    font-size: x-large;
    padding-top: 1em;
  }
  
.read-me-link {
  text-decoration: none;
  color: rgb(12, 63, 203);
}

.home-msg {
  color: white;
  margin-bottom: 1em;
}

div.home-mask {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

div.home-body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.home-search {
  display: flex;
  justify-content: center;
}

p.about-us-title {
  text-align: center;
  font-size: x-large;
  margin-top: 2em;
  margin-bottom: 2em;
}

div.team-member {
  display: flex;
  align-items: start;
  margin-top: 4em;
}

img.headshot {
  border-radius: 10em;
}

a.read-me-link {
  text-align: center;
  color: rgb(196, 31, 9);
  text-decoration: underline;
}

div.home {
  border-bottom: 2px solid black;
}

p.contact-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

p.contact-links a {
  color: black;
  background-color: rgb(234, 226, 226);
  padding: 0.2em 0.8em;
  text-decoration: none;
  border-radius: 0.5em;
  min-width: 6em;
  text-align: center;
  margin-top: 0.3em;
}

@media (max-width: 992px) {
  p.contact-links {
    flex-direction: row;
    justify-content: center;
  }

  p.contact-links a {
    margin: 0em 0.25em;
  }
}

p.about-name {
  font-weight: bold;
  font-size: large;
  margin-bottom: 0.5em;
}

