.read-me-link p {
    font-size: x-large;
    padding-top: 1em;
  }
  
.read-me-link {
  text-decoration: none;
  color: rgb(12, 63, 203);
}

.home-msg {
  color: white;
  margin-bottom: 1em;
}

div.home-mask {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

div.home-body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.home-search {
  display: flex;
  justify-content: center;
}

p.about-us-title {
  text-align: center;
  font-size: x-large;
  margin-top: 2em;
}

div.team-member {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

img.headshot {
  border-radius: 10em;
}

a.read-me-link {
  text-align: center;
  color: rgb(196, 31, 9);
  text-decoration: underline;
}

div.home {
  border-bottom: 2px solid black;
}
