.read-me-link p {
    font-size: x-large;
    padding-top: 1em;
  }
  
.read-me-link {
  text-decoration: none;
  color: rgb(196, 31, 9);
}

.home-msg {
  color: white;
  margin-bottom: 1em;
}

div.home-mask {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

div.home-body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.home-search {
  display: flex;
  justify-content: center;
}