div.profile-page-header {
    background-color: rgb(196, 31, 9);
    padding: 0.5em;
    margin-bottom: 2em;
}

div.profile-page-header div.col {
    display: flex;
    align-items: center;
}

div.profile-page-header p {
    color: white;
    font-size: small;
    margin-bottom: 0em;
    padding-left: 0.5em;
}

div.name-and-rating {
    font-weight: bold;
    font-size: large;
}

div.profile-page div.star-rating {
    color: rgb(255, 123, 0)
}

div.profile-page div.service-display div {
    color: black;
    background-color: rgb(244, 235, 234);
    border-radius: 0.75em;
    border: 1px solid rgb(196, 31, 9);
  }
