/*=================== WORKER CARD ====================*/


div.card.worker-card {
    margin-bottom: 1em;
    border-radius: 0.25em;
    background-color: rgb(245, 227, 224);
  }
  
div.worker-header {
  background-color: rgb(196, 31, 9);
  margin-bottom: 0.7em;
  padding: 0.5em 0em;
  border-radius: 0.25em 0.25em 0em 0em;
}

.location {
  color: white;
  opacity: 0.7;
  font-size: small;
  display: flex;
  align-items: center;
}

div.request-btn-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.request-btn-col .btn {
  color: white;
  background-color: rgb(216, 61, 40);
  border: 3px solid white;
  border-radius: 0.5em;
  box-shadow: 0 0 0 1px rgb(195, 195, 195);
  padding: 0.5em;
  font-size: small;
}

.request-btn-col .btn:hover {
  background-color: rgb(240, 93, 74);
  color: white;
  border: 3px solid white;
  box-shadow: 0 0 0 1px rgb(195, 195, 195);
}

.request-btn-col div.tooltip {
  inset: auto;
}

.request-btn-col button.contact-btn {
  padding: 0.5em 0.75em;
  margin: 0em 0.2em;
}

.profile-pic-small {
  border: 3px solid white;
  border-radius: 10em;
}

div.worker-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.name-and-rating a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

div.worker-card div.star-rating {
  color: rgb(255, 123, 0)
}

p.rating {
  display: inline;
  font-weight: normal;
  font-size: small;
}

p.request-sent {
  margin: 0em;
  color: rgb(196, 31, 9);
  font-size: small;
  font-style: italic;
}

.worker-card div.loading-icon {
  color: rgb(196, 31, 9);
  flex-direction: row-reverse;
}

.worker-card div.loading-icon p {
  display: none;
}

div.worker-card div.service-display div {
  color: black;
  background-color: white;
  border-radius: 0.75em;
  border: 1px solid rgb(196, 31, 9);
}