body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
.card-body > .card-title {
  font-family: 'Helvetica', sans-serif;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

h2 {
  color: #3046c5;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(#cecece, white);
  padding: 20px 0;
  margin-top: 2rem;
}

.navbar {
  background-color: #d82c05;
  color: black;
  margin-bottom: 2rem;
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}


/* custom classes */

.unstyledLink {
  text-decoration: none;
  color: #000000;
}

.light-title {
  color: white;
}

div .btn {
  color: #d82c05;
  background-color: rgba(255, 255, 255, 0.425);
  border: #d82c05 1px solid;
}

.dropdown-item a {
  color: black;
  text-decoration: none;
}

.service-list {
  list-style-type: none;
}

.banner {
  background-color: rgb(233, 231, 231);
  padding: 0.2em 1em;
}

.col.service-display p {
  color: grey;
  border: 1px solid grey;
  border-radius: 0.6em;
  display: inline;
  margin: 0em 0.1em;
  padding: 0.2em 0.5em;
}

.contacts-message {
  margin: 2em 1em;
}

.clicked-button {
  text-align: center;
  font-size: small;
  color: rgb(22, 137, 203);
  padding: 0.5em;
}

.profile-pic-small {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5em;
}

.location {
  font-size: small;
  margin-left: 0.3em;
}

.profile-image-input {
  color: grey;
  border: 1px solid grey;
  text-align: center;
  padding: 0.2em 0.5em;
  margin: 0.7em 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2em;
}

.loading-icon {
  text-align: center;
  margin: 2em; 
  color: grey;
}

/* REVIEW PREVIEW */

.review-preview.card {
  font-size: small;
}

.review-signature.row {
  text-align: end;
  justify-content: end;
  margin-right: 1em;
}

.review-signature.row p {
  display: inline;
  margin: 0em 0.3em;
  padding: 0em;
}

.review-title {
  font-weight: bold;
  font-size: medium;
}


/* ACCORDION NAV */

button.accordion-button {
  background-color: #d82c05;
  color: white;
  box-shadow: none;
}

button.accordion-button:focus  {
  box-shadow: none;
}

button.accordion-button:not(.collapsed) {
  background-color: #d82c05;
  color: white;
  box-shadow: none;
}

div.accordion-body {
  background-color: #d94423;
}

div.accordion-item {
  border: none;
}

div.accordion {
  margin-top: 1em;
}