body {
  font-family: 'Helvetica', sans-serif;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}


/* custom classes */

.unstyledLink {
  text-decoration: none;
  color: #000000;
}

.unstyledLink:hover {
  color: rgb(196, 31, 9);
}

.light-title {
  color: white;
}

div .btn {
  color: rgb(196, 31, 9);
  background-color: rgba(255, 255, 255, 0.425);
  border: rgb(196, 31, 9) 1px solid;
}

div .btn:hover {
  background-color: rgba(204, 204, 204, 0.425);
  border: rgb(196, 31, 9) 1px solid;
  color: rgb(196, 31, 9);
}

.contacts-message {
  margin: 2em 1em;
}

.profile-image-input {
  color: grey;
  border: 1px solid grey;
  text-align: center;
  padding: 0.2em 0.5em;
  margin: 0.7em 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2em;
}

.loading-icon {
  text-align: center;
  color: grey;
}

/* HOME PAGE */

.read-me-link p {
  font-size: x-large;
  padding-top: 1em;
}

.read-me-link {
  text-decoration: none;
  color: rgb(196, 31, 9);
}

/* ABOUT US */

img.headshot {
  border-radius: 10em;
}

.row.team-member {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

span.feature {
  font-weight: bold;
  color: rgb(196, 31, 9);
}

/* SERVICE LIST */

.service-display {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col.service-display div {
  color: white;
  font-size: small;
  background-color: rgb(184, 176, 176);
  border-radius: 1em;
  display: inline;
  margin: 0.2em 0.2em 0.2em 0em;
  padding: 0.2em 0.8em;
}

/* WORKER PROFILE PAGE */

div.profile-page-header {
  background-color: rgb(196, 31, 9);
  padding: 0.5em;
  margin-bottom: 2em;
}

div.profile-page-header div.col {
  display: flex;
  align-items: center;
}

div.profile-page-header .btn {
  margin-left: auto;
  font-size: small;
}

div.profile-page-header p {
  color: white;
  font-size: small;
  margin-bottom: 0em;
  padding-left: 0.5em;
}

/* WORKER CARD */

.card.worker-card {
  margin-bottom: 1em;
  border-radius: 0em;
  background-color: rgb(246, 241, 241);
}

.worker-header {
  background-color: rgb(196, 31, 9);
  margin-bottom: 0.7em;
  padding: 0.5em 0em;
}

.request-btn-col {
  display: flex;
  justify-content: end;
  padding: 0em;
}

.request-btn-col .btn {
  color: white;
  background-color: rgb(214, 72, 54);
  padding: 0.3em 0.5em;
  margin: 0em;
  font-size: small;
}

.profile-pic-small {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 10em;
}

.location {
  color: white;
  opacity: 0.7;
  font-size: small;
  display: flex;
  align-items: center;
}

.clicked-button {
  text-align: center;
  font-size: small;
  color: rgb(22, 137, 203);
  padding: 0.5em;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

p.in-your-contacts {
  color: white;
  opacity: 0.7;
  font-style: italic;
  margin-bottom: 0;
}

/* WORKER CARD (IN CONTACTS) */

.card.worker-card-in-contacts {
  margin-bottom: 1em;
  border-radius: 0em;
  background-color: rgb(241, 246, 242);
}

.card.worker-card-in-contacts .worker-header {
  background-color: rgb(121, 200, 122);
  margin-bottom: 0.7em;
  padding: 0.5em 0em;
}

.card.worker-card-in-contacts button {
  border: none;
  background-color: rgb(84, 170, 85);
}

.card.worker-card-in-contacts button:hover {
  color: rgb(241, 246, 242);
  background-color: rgb(57, 142, 59);
}

/* FOOTER */

.site-footer {
  background-color: black;
  color: white;
  padding: 2em 0;
  margin-top: 3rem;
}

.site-footer a.btn {
  color: black;
  background-color: rgb(238, 238, 238);
  border: none;
  border-radius: 5em;
  margin: 0.8em 0.3em;
  padding: 0.5em 0.6em;
}

.site-footer div.row {
  text-align: center;
}

.site-footer .footer-links {
  list-style-type: none;
  margin-top: 1em;
}

.site-footer .footer-links li {
  display: inline;
  margin: 0em 0.5em;
}

.site-footer .footer-links a {
  color: white;
  text-decoration: none;
}

.site-footer .subscribe {
  margin-top: 1em;
  font-size: small;
}

.site-footer .subscribe div {
  display: flex;
  justify-content: center;
}

.site-footer .subscribe input {
  padding: 0.3em 0em;
  border-radius: 0em;
  border: none;
}

.site-footer .subscribe .btn {
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 0em;
}

/* REVIEW PREVIEW */

.review-preview.card {
  font-size: small;
  border: none;
  padding: 0.5em 1.5em;
  border-radius: 0em;
}

.review-signature.row {
  text-align: end;
  justify-content: end;
  margin-right: 1em;
}

.review-signature.row p {
  display: inline;
  margin: 0em 0.3em;
  padding: 0em;
  font-style: italic;
}

.review-title {
  font-weight: bold;
  font-size: medium;
}


/* ACCORDION NAV */

button.accordion-button {
  box-shadow: none;
  border: 1px solid rgb(199, 199, 199);
}

button.accordion-button:focus  {
  box-shadow: none;
  border: 1px solid rgb(199, 199, 199);
}

button.accordion-button:not(.collapsed) {
  box-shadow: none;
  color: rgb(196, 31, 9);
  background-color: white;
  border: 1px solid rgb(199, 199, 199);
}

div.accordion-body {
  background-color: rgb(238, 238, 238);
}

div.accordion-item {
  color: black;
  border: none;
}

div.accordion {
  margin-top: 1em;
}

/* DROPDOWN NAV */

.navbar .navbar-nav a.nav-link {
  color: black;
}

.navbar .navbar-nav a.nav-link:hover {
  color: rgb(196, 31, 9);
}

.navbar div.dropdown-menu {
  border-radius: 0em;
}

.navbar a.parent-nav-link {
  text-decoration: none;
  color: black;
}

.navbar a.parent-nav-link:hover {
  color: rgb(196, 31, 9);
}

/* USER MENU */

button.dropdown-item a.nav-link {
  color: black;
  padding: 0;
}

/* NAVBAR */

div.logo  a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

div.logo h1 {
  font-size: x-large;
  display: inline;
  padding-right: 0.5em;
}

.navbar {
  color: black;
  border-bottom: 1px solid black;
  background-color: white;
}

.navbar button {
  margin-left: auto;
}

.navbar button.user-menu {
  padding: 0em;
  border-radius: 5em;
  border: 1px solid rgb(199, 199, 199);
}

.navbar button.user-menu img {
  border-radius: 5em;
}

/* CONTACT CARD */

div.contact-card {
  padding: 0.5em;
  margin: 0.5em;
  background-color: rgb(246, 241, 241);
}

img.contact-img {
  border-radius: 10em;
  border: 1px solid rgb(199, 199, 199);
}

div.contact-card-info {
  display: flex;
  align-items: center;
}

div.contact-info-btns {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

div.contact-info-btns button {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
  padding: 0.25em 0.5em;
  background-color: white;
}

div.contact-info-btns svg {
  margin: 0em 0.35em;
}

/* CONTACT REQUEST CARD */

div.contact-request {
  padding: 0.25em;
  margin: 0.5em;
  background-color: rgb(247, 239, 214);
}

div.contact-request.sent {
  background-color: rgb(243, 243, 243);
}

div.contact-request-info {
  display: flex;
  align-items: center;
}

button.request-reply-btn {
  margin-right: 0.5em;
  color: green;
  border: 1px solid green;
}

button.request-reply-btn:hover {
  color: green;
  border: 1px solid green;
  background-color: rgb(225, 235, 225);
}

button.request-reply-btn.decline {
  color: grey;
  border: 1px solid grey;
}

button.request-reply-btn.decline:hover {
  background-color: rgb(239, 239, 239);
}

div.contact-request-btns {
  display: flex;
  align-items: center;
  justify-content: end;
}